<?xml version='1.0' encoding='utf-8'?>
<widget id="go.free.fp.mgr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>设备管理</name>
    <description>
        指纹认证管理app
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        FreeGo Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-android-fingerprint-auth" spec="^1.4.3" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="^2.4.1">
        <variable name="XWALK_VERSION" value="23+" />
        <variable name="XWALK_LITEVERSION" value="xwalk_core_library_canary:17+" />
        <variable name="XWALK_COMMANDLINE" value="--disable-pull-to-refresh-effect" />
        <variable name="XWALK_MODE" value="embedded" />
        <variable name="XWALK_MULTIPLEAPK" value="true" />
    </plugin>
    <plugin name="go.free.cordova.exitapp" spec="https://github.com/wei-jiang/cordova-plugin-exitapp.git" />
    <engine name="android" spec="^7.0.0" />
</widget>
